html { font-family: sans-serif; }

input { margin: 3px; }

#instructions {
    font-size: 1em;
}

#instructions > li {
    padding: 2px;
}

#instructions > li > code {
    /* font-size: 16px; */
    font-size: 1em;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: whitesmoke;
    vertical-align: middle;
    padding: 0.1em;
}

#examplefolder {
    margin-left: 24px;
}

.button {
    /* font-size: 13px; */
    font-size: 1em;
    background-color: #F0F0F4;
    /* background-color: whitesmoke; */
    padding: 2px 5px;
    border: 1.5px solid gray;
    border-radius: 3px;
    margin: 0.25em 0em 0.25em 0em;
    box-shadow: 2px 2px 3px whitesmoke, inset 0px 0px 10px white;
}

#manifestelement, #contentelement {
    display: flex;
    justify-content: space-between;
}

/* #customlocationselement > button, #changeselement > button{
    margin: 0em 0em 0.5em 0em;
} */

#manifestoutput, #contentoutput {
    border: 1px solid indigo;
    border-radius: 5px;
    margin: 3.5em 0em 0em 0em;
    width: 60%; 
    font-family:'Courier New', Courier, monospace;
    box-shadow: inset 1px 1px 1px gray, inset -1px -1px 1px gray;
}

#changes, #locations {
    display: none;
    flex-direction: column;
}

.changeheader, .locationheader {
    margin: 0.25em 0;
}

.changedropdowns > select {
    margin: 5px 5px;
}

.cancel {
    border: none;
    background-color: transparent;
    margin-left: 0px;
    padding: 0px;
}

.addconfig {
    margin-left: 5px;
}

.config {
    margin-left: 20px;
}

#droparea {
    border: 1px dashed;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#droparea.highlight {
    border-color: blue;
}

#uploadimage {
    display: none;
}

#imagepreview {
    display: flex;
}

.image {
    margin: 0px 15px;
}

.image > img {
    border: 0.25px solid gray;
    padding: 1px;
    max-width: 250px;
    max-height: 200px;
    margin: 10px;
}

.image > p {
    text-align: center;
    margin-bottom: 0px;
}