html { font-family: sans-serif; }

input { margin: 3px; }

.button {
    font-size: 13px;
    background-color: whitesmoke;
    padding: 2px 0px;
    border: 0.5px solid gray;
    border-radius: 3px;
}

#manifestelement, #contentelement {
    display: flex;
    justify-content: space-between;
}

#manifestoutput, #contentoutput {
    border: 1px solid indigo;
    border-radius: 5px;
    margin: 3.5em 10px 0px 10px;
    width: 60%; 
    font-family:'Courier New', Courier, monospace;
    box-shadow: inset 1px 1px 1px gray, inset -1px -1px 1px gray;
}

#changes {
    display: none;
    flex-direction: column;
}

.changeheader {
    margin: 0.25em 0;
}

.changedropdowns > select {
    margin: 5px 5px;
}

.cancel {
    border: none;
    background-color: transparent;
    margin-left: 0px;
    padding: 0px;
}

.addconfig {
    margin-left: 5px;
}

.config {
    margin-left: 10px;
}

#droparea {
    border: 1px dashed;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#droparea.highlight {
    border-color: blue;
}

#uploadimage {
    display: none;
}

#imagepreview {
    display: flex;
}

.image {
    margin: 0px 15px;
}

.image > img {
    border: 0.25px solid gray;
    padding: 1px;
    max-width: 250px;
    max-height: 200px;
    margin: 10px;
}

.image > p {
    text-align: center;
    margin-bottom: 0px;
}